Repository DSpace/RestContract, pull requests merged in 2024-03, with the labels that each got.

#252 Duplicate Detection: REST Contract submission section & item link
  duplicates.md
  endpoints.md
  items.md
  submission.md
  submissionsection-types.md
  workspaceitem-data-duplicates.md
  workspaceitems.md
Labels: high priority, new feature, component: submission, component: workflow

#251 Coar Notify Integration - Administer/Log
  ldnmessages.md
Labels: new feature, integration: COAR Notify / LDN

#257 identifiers.md: fix Markdown link
  identifiers.md
Labels: bug, 1 APPROVAL, port to dspace-7_x
